# Dependency Directories
node_modules/
jspm_packages/
web_modules/

# Production/Build Output Directories
dist/
dist-installer/
out/
build/
release/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?

# Logs and Diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Diagnostic/Testing Reports
.nyc_output
coverage/
.tap
.spec

# Environment and Credentials
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*
